<div class="container-fluid px-0" style="width: 100%; height: 100%; margin-top: 0px; padding: 30px;">
    
    <div class="card border-info mb-3"
        style="max-width: 65rem; max-height: 30rem; margin-top: 0px; padding: 1px; margin-right: auto; margin-left: auto; ">
        <div class="card-header" style="text-align: center; background-color: rgb(235, 73, 51); color: white;">CONCIERTOS</div>
        <div class="card-body" style="background-color: rgba(0, 198, 238, 1);">
            <h4 class="card-title" style="text-align: center; margin-top: 10px; color: white;">Al grupo español les quedan tres conciertos en España y dos a nivel internacional para que acabe su gira de “CoronaPika”.</h4>
        </div>
        
        
    </div>
    
    <div class="card border-info mb-3"
        style="max-width: 40rem; max-height: 30rem; margin-top: 30px; padding: 1px; margin-right: auto; margin-left: auto; background-color: rgba(0, 198, 238, 1);">
        
        <div class="card-body">
            
            <p class="card-text" style="text-align: center; padding: 1px; margin-top: 10px; color: white;">Madrid (20 de diciembre) </p>
        </div>
    </div>

    <div class="card border-info mb-3"
        style="max-width: 40rem; max-height: 30rem; margin-top: 30px; padding: 1px; margin-right: auto; margin-left: auto; background-color: rgba(0, 198, 238, 1)">
        
        <div class="card-body">
            
            <p class="card-text" style="text-align: center; padding: 1px; margin-top: 10px; color: white;">Zaragoza (28 de diciembre)</p>
        </div>
    </div>

    <div class="card border-info mb-3"
        style="max-width: 40rem; max-height: 30rem; margin-top: 30px; padding: 1px; margin-right: auto; margin-left: auto; background-color: rgba(0, 198, 238, 1)">
        
        <div class="card-body">
            
            <p class="card-text" style="text-align: center; padding: 1px; margin-top: 10px; color: white;">Monzón (6 de enero; donde estrenarán su nuevo single; Redondo)</p>
        </div>
    </div>

    <div class="card border-info mb-3"
        style="max-width: 40rem; max-height: 30rem; margin-top: 30px; padding: 1px; margin-right: auto; margin-left: auto; background-color: rgba(0, 198, 238, 1)">
        
        <div class="card-body">
            
            <p class="card-text" style="text-align: center; padding: 1px; margin-top: 10px; color: white;">Sydney (25 de enero)-Salzburgo ( 5 de febrero; donde estrenarán su nuevo single vómito)</p>
        </div>
    </div>
</div>