<div class="container-fluid px-0" style="width: 100%; height: 100%; margin-top: 0px; padding: 30px;">
    
    <div class="card border-info mb-3"
        style="max-width: 65rem; max-height: 30rem; margin-top: 0px; padding: 1px; margin-right: auto; margin-left: auto; ">
        <div class="card-header" style="text-align: center; background-color: #FFA100; color: white;">INTEGRANTES</div>
        <div class="card-body" style="; background-color:#00CD95;">
            <h4 class="card-title" style="text-align: center; margin-top: 10px; color: white;">Unas auténticas bestias</h4>
        </div>
        
        
    </div>
    
    <div class="card border-info mb-3"
        style="max-width: 40rem; max-height: 30rem; margin-top: 30px; padding: 1px; margin-right: auto; margin-left: auto;">
        <div class="card-header" style="text-align: center; background-color: #FFA100; color: white;">MOL</div>
        <div class="card-body" style="background-color:#00CD95;">
            

            <div class="div" style="align-items: center; display: flex; flex-direction: column;">
                <img src="https://us.123rf.com/450wm/julos/julos1607/julos160773413/83224671-personaje-de-pato-con-tonos-y-guitarra.jpg?ver=6"
                    
                    style="margin-left: auto; margin-right: auto; max-width: 30rem; max-height: 10rem; align-items: center;">
            </div>
            <p class="card-text" style="text-align: center; padding: 1px; margin-top: 10px; color: white;">Es el guitarrista del grupo y también la mascota comercial del grupo.</p>
        </div>
    </div>

    <div class="card border-info mb-3"
        style="max-width: 40rem; max-height: 30rem; margin-top: 30px; padding: 1px; margin-right: auto; margin-left: auto;">
        <div class="card-header" style="text-align: center; background-color: #FFA100; color: white;">FERNANDO FLOW</div>
        <div class="card-body" style="background-color:#00CD95;">
            

            <div class="div" style="align-items: center; display: flex; flex-direction: column;">
                <img src="/images/image2.png"
                    
                    style="margin-left: auto; margin-right: auto; max-width: 30rem; max-height: 10rem; align-items: center;">
            </div>
            <p class="card-text" style="text-align: center; padding: 1px; margin-top: 10px; color: white;">Es el cantante y el más sexy del grupo, su sangre salvadoreña y colombiana hace bailar a todos los oyentes.</p>
        </div>
    </div>

    <div class="card border-info mb-3"
        style="max-width: 40rem; max-height: 30rem; margin-top: 30px; padding: 1px; margin-right: auto; margin-left: auto;">
        <div class="card-header" style="text-align: center; background-color: #FFA100; color: white;">LUCAS MAYWEATHER</div>
        <div class="card-body" style="background-color:#00CD95;">
            

            <div class="div" style="align-items: center; display: flex; flex-direction: column;">
                <img src="/images/image3.png"
                    
                    style="margin-left: auto; margin-right: auto; max-width: 30rem; max-height: 10rem; align-items: center;">
            </div>
            <p class="card-text" style="text-align: center; padding: 1px; margin-top: 10px; color: white;">Batería y hacker del grupo, cuenta la leyenda que compra oyentes y reproducciones en internet.</p>
        </div>
    </div>

    <div class="card border-info mb-3"
        style="max-width: 40rem; max-height: 30rem; margin-top: 30px; padding: 1px; margin-right: auto; margin-left: auto;">
        <div class="card-header" style="text-align: center; background-color: #FFA100; color: white;">BASKET</div>
        <div class="card-body" style="background-color:#00CD95;">
            

            <div class="div" style="align-items: center; display: flex; flex-direction: column;">
                <img src="/images/image1.png"
                    
                    style="margin-left: auto; margin-right: auto; max-width: 30rem; max-height: 10rem; align-items: center;">
            </div>
            <p class="card-text" style="text-align: center; padding: 1px; margin-top: 10px; color: white;">Es bajista y teclado de la banda, meterse en el mundo de la fama le hizo caer en las drogas proporcionadas por el famoso camello “El pastis”.</p>
        </div>
    </div>
</div>

