<div class="container-fluid px-0" style="width: 100vw; display: flex; height: 100vh;">
    <div class="card border-info mb-3" style="max-width: 80rem; max-height: 30rem; margin-top: 30px; padding: 1px; margin-right: auto; margin-left: auto;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Info card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>